{% extends 'base.html' %}

{% block 'body' %}
{% for continente in continentes %}
<br>
<main class="d-flex justify-content-center" role="main">
    <section class="jumbotron text-center border" style="background-image: url('{{continente.imagem.url}}');
    background-size: cover; background-color: transparent;">
        <div class="container" style="width: 1000vw;">
            <h1 class="jumbotron-heading" style="color: white;">{{continente.nome}}</h1>
            <p>
                <a href="{% url 'exibir_marcas' continente.slug %}" class="btn btn-primary my-2">Exibir Marcas</a>
            </p>
        </div>
    </section>
</main>
{% endfor %}
{% endblock %} 